body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:rgb(148, 188, 200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }

button{
  color: white;
  background-color:rgb(29, 145, 192);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  #btn1 {
    background-color: rgb(5, 211, 239);
    color: white;
    border-radius: 5px;
  }
  #btn1:hover {
    background-color: rgb(50, 188, 12);
    color: white;
    border-radius: 5px;
    padding: 2px;
  }